applySpecVersion: 1
spec:
  configSync:
    enabled: true
    preventDrift: false
    sourceType: git
    sourceFormat: unstructured
    syncRepo: $SYNC_REPO
    syncBranch: $SYNC_BRANCH
    policyDir: $SYNC_DIR
    secretType: token
  $CS_VERSION_YAML