apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: gcp-secret-store
spec:
  provider:
    gcpsm:
      projectID: $FLEET_PROJECT_ID
      auth:
        secretRef:
          secretAccessKeySecretRef:
            name: gcp-store-creds
            key: es-agent.json
            namespace: external-secrets